{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learning_page.js') }}"></script>

<script>
        
		let topic = {{topic|tojson}}
		console.log("current topic: " + topic) 
		
    </script>

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<div class="progress my-4">
	<div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="container d-flex flex-column justify-content-center">
	<div class="row">
		<div class="col-md-12 my-4">
			<div class="h2 text-center">{{topic.title}}</div>
		</div>
	</div>

	<div class="row mx-auto bottomPad grayFeature d-flex justify-content-center">
		<div class="col-md-12 pb-4">
			<div class="videoWrap mt-4">
				<!-- <iframe src="{{topic.video}}" class="video" title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen>
				</iframe> -->
				<video width="100%" controls>
					<source src={{ url_for('static', filename=topic.video) }} type="video/mp4">
					Your browser does not support the video tag.
				  </video>
				  <div class="text-muted"> Video from: <a href="{{topic.source}}">{{topic.source}}</a> </div> 
			</div>
		</div>
		<button id="toSummary" class="btn btn-primary mt-4 mb-2">Jump to Summary</button>
	</div>


	<a id="summary">

		<!-- summary section -->
		<div class="h4 d-flex justify-content-center boldFont "> Summary </div>

		<div class="row m-4 d-flex justify-content-center">
			<div class="col-md-5">
				<img src={{topic.image}} class="img-responsive d-block mx-auto">
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5 d-flex align-items-center boldFont sign">
				<div>{{topic.summary}}</div>
			</div>
		</div>


		<!-- buttons -->
		<div class="text-center mt-3 pb-4 action-buttons">
			<button id="learnPrevious" class="btn btn-secondary">Previous</button>
			<!-- <button id="summary" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-info">Summary</button> -->
			<button id="learnNext" class="btn btn-primary">Next</button>
		</div>

		<!-- <a href="#top" class="top" aria-label="Back to top" title="Back to top">↑</a> -->

		
	</a>
	
</div>
{% endblock %}
