{% extends "layout.html" %}

{% block content %}
	<script>
		let question = {{questions|tojson}}
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_page.js') }}"></script>
	
	<script>
        //let questions = {{questions|tojson}}
    </script>

		<br><br>
		<div class="quiz-container">
			<h3>{{questions.prompt}}</h3>
			<div class="terrain mt-4"></div>
			<!-- {{questions.terrain}} -->
			<div class="row mt-4">
				<button id="testPrevious">Previous</button>
				<button id="testNext">Next</button>
			</div>
		</div>


{% endblock %}
