{% extends "layout.html" %}

{% block content %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_page.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'learning_page.js') }}"></script>
	<script>
        let questions = {{questions|tojson}} 
    </script>

		<div class="container my-4">
			<!-- {{questions.answer}} -->
			<div class="quizStart mt-4 grayFeature">
				Congratulations!
				<br>
				You've completed the quiz!
			</div>
			<div id="score-div" class="text-center mt-4 grayFeature boldFont">
			</div>

			<br>
			<br>

			<button href="#" id="startQuizButton" class="btn btn-primary active quizStart" role="button" aria-pressed="true">Retake the quiz!</button>			
			
		</div>
{% endblock %}