{% extends "layout.html" %}

{% block content %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_page.js') }}"></script>

		<div class="container my-4">
			<!-- {{questions.answer}} -->
			<div class="quizStart mt-4 grayFeature">
				Congratulations!
				<br>
				You've completed the quiz!
			</div>
			<div id="score-div" class="text-center mt-4 grayFeature font-weight-bold">
			</div>

			<div class="mt-5 d-flex justify-content-center">
				<a href="/learn/1" id="startLearnButton" class="btn btn-primary mx-2" role="button">Learn again</a>			
				<a href="/quiz" id="" class="btn btn-primary mx-2" role="button">Retake the quiz!</a>	
			</div>	
			
		</div>
{% endblock %}