{% extends "layout.html" %}

{% block content %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'welcome.js') }}"></script> 

	<br><br>
		<div class="container">
			<h1 class="h1">Rules of the Road:</h1>
			<img class="center mt-4" src="../static/homepage_img.png" alt="'Who Has the Right-of-Way?' with a car outline and question mark in the background.">
			<br><br>
			<div class = "row center">
				<button type="button" class="btn btn-primary btn-lg" id="learn">Start</button>
			</div>
		</div>
{% endblock %}
