{% extends "layout.html" %}

{% block content %}
	<script type="text/javascript" src="{{ url_for('static', filename = 'welcome.js') }}"></script> 

	<br><br>
		<div class="container">
			<br>
			<h1 class="h1 mb-5">Rules of the Road:</h1>
			<img class="center mt-5" src="../static/homepage_img.png" alt="'who has the right of way?' with a yield street sign and blue sky in background.">
			<br><br>
			<div class = "row center">
				<button type="button" class="btn btn-primary btn-lg shadow" id="learn">Start</button>
			</div>
		</div>
{% endblock %}
