img {
    width: 400px;
    border-radius: 25px;
    height: auto;
}

body {
    background-color: #EEF6FD;
}

a {
    color: #11A3D0;
}

.center {
    align-items: center;
    text-align: center;
    text-align:center;
    width: 100%;
    display: block;
    margin: auto;
}

.title {
    font-weight: bold;
    text-align: center;
    background-color: #D0DFF0;
    border-radius: 25px;
    padding: 20px;
}

.header {
    font-weight: bold;
    align-items: center;
    background-color: #D0DFF0;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.leftPad {
    padding-left: 15px;
}

.tinyPic {
    width: 150px;
    border-radius: 20px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.icon {
    width: 25px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.grayFeature {
    background-color: #ECE9E9;
    border-radius: 25px;
    padding: 5px;
}

.grayText {
    color: darkgrey;
}

.inline {
    display: inline-block;
    font-size: 20px;
}

.video{
    display: inline-block;
    margin: auto;
}

.learnImage{
    width: 50%;
    height: auto;
    display: inline-block;
    margin: auto;
}

button{
    border-radius: 20px;
    background-color: #D0DFF0;
    padding-left: 10px;
    padding-right: 10px;
}

#learnNext{
    margin-left: 50px;
    background-color: #1e5799;
    color: white;
}

.quizStart{
    font-size: 36px;
    text-align: center;
    font-weight: bold; 
}

#startQuizButton{
    display: flex;
    margin: auto;
    background-color: #1e5799;
    color: white;

}
  